
quitter/.idea/compiler.xml
quitter/.idea/misc.xml
quitter/.idea/misc.xml
quitter/.idea/workspace.xml

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/